//custom variables
$primary: #949187;
$light: #fbf5e5;
$secondary: #072d5fc2;

//import the function & variables
@import"../node_modules/bootstrap/scss/_functions";
@import"../node_modules/bootstrap/scss/_variables";

$custom-theme-colors:(
    "altlight": #f2ebfa,
    "altdark": #522192
   

);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

//import b00tstrap
@import '../node_modules/bootstrap/scss/bootstrap';